<div class="d-flex gap-2 mb-4 overflow-auto pb-1">

    <button class="tab-btn active"
        onclick="switchTab('necessidades', this)">
        <i class="bi bi-droplet-fill"></i>
        Necessidades
    </button>

    <button class="tab-btn"
        onclick="switchTab('emocoes', this)">
        <i class="bi bi-emoji-smile-fill"></i>
        Emoções
    </button>

    <button class="tab-btn"
        onclick="switchTab('comunicacao', this)">
        <i class="bi bi-hand-thumbs-up-fill"></i>
        Comunicação
    </button>

</div>